*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#screen{
    width: 100%;
    height: 1000px;
    border: 1px solid gray;
    background-color: #ffffff;
}#main{
     width: 90%;
    /* height: 800px; */
    border: 1px solid gray;
    display: flex;
    margin: auto;
    margin-top: 30px;
}
#left{
    width: 30%;
    border: 1px solid gray;
}
#home{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
}
#home>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#home>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#home:hover{
    background-color: #f7f9f9;
}
#explore{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
}
#explore>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#explore>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#explore:hover{
    background-color: #f7f9f9;
}
#notification{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
}
#notification>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#notification>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#notification:hover{
    background-color: #f7f9f9;
}

#massge{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#massge>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#massge>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#massge:hover{
    background-color: #f7f9f9;
}
#list{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#list>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#list>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#list:hover{
    background-color: #f7f9f9;
}
#bookmark{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#bookmark>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#bookmark>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#bookmark:hover{
    background-color: #f7f9f9;
}
#profile{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#profile>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#profile>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#profile:hover{
    background-color: #f7f9f9;
}
#verifie{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#verifie>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#verifie>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#verifie:hover{
    background-color: #f7f9f9;
}
#more{
    width: 50%;
    height: 70px;
    /* border: 1px solid gray; */
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#more>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#more>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#more:hover{
    background-color: #f7f9f9;
}
#massge{
    width: 50%;
    height: 70px;
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
}
#massge>i{
     margin-top: 30px;
    margin-left: 30px; 

} 
#massge>p{
  padding-left: 80px;
  padding-bottom: 120px;
  font-size: 20px
}
#massge:hover{
    background-color: #f7f9f9;
}
#tweet{
     width: 50%;
    height: 60px;
    border: 1px solid gray;
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 30px;
    background-color: #1d9bf0;
}
#tweet>p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;

}
#profileimg{
     width: 70%;
    height: 70px;
    border: 1px solid gray;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
}
#imag{
    border: 1px solid black;
    width: 15%;
    height: 40px ;
    border-radius: 70px;
    margin-top: 15px;
    margin-left: 20px;
}
#text{
    /* border: 1px solid black; */
    height: 70px;
    width: 90%;
    margin-left: 20px;
}
#meedle{
    width: 50%;
    border: 1px solid black;
    /* height: 500px; */
}


#right{
    width: 40%;
    border: 1px solid gray;
    
}
#meedle>h2{
    padding-left: 30px;
    padding-top: 30px;
}
#contain{
    width: 100%;
    display: flex;
}
#icon{
    width: 5%;
    height:30px ;
    border-radius: 30px;
    margin-top: 20px;
}
#icon>i{
    padding-left: 7px;
    padding-top: 6px;
}
#icon:hover{
    background-color: #f7f9f9;
}
#search{
    border: 1px solid rgb(24, 24, 150);
    width: 90%;
    height: 40px;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
}
#search>i{
    padding-left: 30px;
    padding-top: 10px;
}
#search>input{
    padding-left: 20px;
    font-size: 15px;
    border: none;
}
#container{
    width: 100%;
    height: 60px ;
    margin-top: 30px;
  
}
#container>div{
  width: 100%;
  display: flex;
  justify-content:space-between ;
  height: 60px;
  padding-top: 20px;
  color: gray;
  
}
#container>div>h4{
    padding-left: 30px;
}
#container>div>i{
    padding-right: 20px;
}
#container>div:hover{
    background-color:#f7f9f9 ;
}
#right{
    width: 40%;

}
#right>h2{
    padding-left: 30px;
    padding-top: 30px;
}
#lastdiv{
    border: 1px solid gray;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
}
#lastdiv>div>p{
    padding-left: 20px;
    padding-bottom: 20px;

}
#lastdiv>div>i{
    padding-top: 20px;
}