*{
 margin: 0; 
 padding: 0;  
 box-sizing: border-box;
}
#screen{
    width: 100%;
    border: 1px solid black;
    /* height: 1000px; */
}
#container{
    width: 100%;
    /* height: 500px; */
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

}
#left{
    width: 25%;
    border: 1px solid black;
   
   
}
#left>div{
    /* border: 1px solid gray; */
    width: 80%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 35px;

}
#left>div:hover{
    background-color: antiquewhite;
    border: 1px solid black;
    color: black;
}

#left>p,i{
        padding-left: 35px;
        padding-top: 20px;
        font-size: 25px;
        padding-right: 30px;
    
}
#left>span{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 25px;
}
 
     #btn{  border: 1px solid black;
      width: 75%;
      height: 45px;
      margin-left: 25px;
      margin-bottom: 20px;
      border-radius: 35px; 
      font-size: 18px;
      background-color: rgb(108, 108, 189);
      color: white;

 }
 /* #profilesection>div{
    width: 30%;
    height: 60px;
    border: 1px solid black;
    display: flex;
}  */



                               /* meedle  section start */
#meedel{
    width: 35%;
    border: 1px solid black;
   
}
#navbar{
    width: 100%;
    border: 1px solid black;
    height: 100px;
 
}
#navbar>h4>{
    font-size: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 30px;
}
#navigation{
    border: 1px solid gray;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
 #navbarfirstdiv{
    width: 100%;
    /* border: 1px solid red;
    height: 300px; */
     margin-bottom: 40px;
}
#navbarfirstdiv>div:nth-child(1){
width: 100%;
height: 70px;
border: 1px solid black;
}
#navbarfirstdiv>div:nth-child(1)>button{
   margin: 20px;
   padding-left: 20px;
   border-radius: 20px;
 border: none;
 color: blue;

}
#navbarfirstdiv>div:nth-child(1)>button:hover{
    color: skyblue;
    background-color: rgb(133, 161, 161);
    border: none;
    
}


#navbarfirstdiv>div:nth-child(2){
    width: 100%;
    /* height: 90px; */
    border: 1px solid black;
  
    }
    #navbarfirstdiv>div:nth-child(2)>p{
        padding-top: 15px;
        font-size: 25px;
        color:black;
    }
    #navbarfirstdiv>div:nth-child(2)>i{
      
       /* border: 1px solid black; */
         color: blue;
     }
     #navbarfirstdiv>div:nth-child(2)>button{
          width: 20%;
          padding-bottom: 30px;
          background-color: skyblue;
          color: white;
          font-size: 15px;
          border-radius: 30px;
          padding-left: 30px;
     }
     #navbarseconddiv{
        width: 100%;
      height: 40px;
        /* border: 1px solid black; */
      

     }
     #navbarseconddiv>p{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
     }
     #navbarseconddiv:hover{
        background-color: aliceblue;
     }


     #mainimage{
        border: 1px solid black;
        width: 90%;
        height: 800px;
        margin: auto;
     }
     #mainimage>img{
        width: 90%;
        height: 450px;
     margin-top: 20px;
       margin-left: 20px;
     }
     #image2{
        border: 1px solid black;
        height: 60px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
     }

    /* #navbarfirstdiv>div:nth-child(3){
        width: 100%;
        height: 60px;
        border: 1px solid black;
        } */
        

                                         /* ===== start right section===== */
#right{
    width: 25%;
    border: 1px solid black;
    /* height: 500px; */
   
}
#rightcontainer{
    width: 90%;
    height: 50px;
    border: 1px solid gray;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    align-items: center;
    background-color:  gainsboro;
}
#rightcontainer>button{
    font-size: 20px;
     color: black;
      text-align: center;
    outline: none;
    text-decoration: none;
    border: none;
    
}
#rightdiv2{
    width: 90%;
    /* height: 90px; */
    border: 1px solid gray;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    align-items: center;
    background-color: gainsboro;
    padding-top:10px ;
    padding-left: 20px;
}
#rightdiv2>h2,p{
   padding: 20px 0px ;
   
}
#rightdiv2>button{
    border-radius: 30px;
    width: 30%;
    height: 30px;
  background-color: black;
  color: white;
}
 #rightdiv3{
    width: 90%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    align-items: center;
    background-color: gainsboro;

}
#rightdiv3>h2{
    padding-left: 30px;
    padding-top: 10px;
}
#rightdiv3>button{
    padding-left: 30px;
    padding-top: 10px;
}
#rightdivfirst{
    /* border: 1px solid black; */
    width: 95%;
    height:120px ;
    margin: auto;
}
#rightdivfirst,p{
font-size: small;
font-weight: 800;
padding-left: 10x;
}

/* #rightdivfirst,h2{
    padding-left: 60px;

} */

#rightdivfirst:hover{
  background-color: rgb(238, 229, 229);
  color: black;
  border: 1px solid gray;
  border-radius: 10px;
}
#rightdivsecond{
    /* border: 1px solid black; */
    width: 95%;
    height:120px ;
    margin: auto;
}
#rightdivsecond,p{
    font-size: small;
    font-weight: 800;
    padding-left: 10x;
    }
    #rightdivsecond:hover{
        background-color: rgb(238, 229, 229);
        color: black;
        border: 1px solid gray;
        border-radius: 10px;
      }
      #rightdivthird{
        /* border: 1px solid black; */
        width: 95%;
        height:120px ;
        margin: auto;
    }
    #rightdivthird,p{
        font-size: small;
        font-weight: 800;
        padding-left: 10x;
        }
        #rightdivthird:hover{
            background-color: rgb(238, 229, 229);
            color: black;
            border: 1px solid gray;
            border-radius: 10px;
          }
          #rightdivfour{
            /* border: 1px solid black; */
            width: 95%;
            height:120px ;
            margin: auto;
        }
        #rightdivfour,p{
            font-size: small;
            font-weight: 800;
            padding-left: 10x;
            }
            #rightdivfour:hover{
                background-color: rgb(238, 229, 229);
                /* color: black; */
                border: 1px solid gray;
                border-radius: 10px;
              }
        #rightdivsix{
            
              width: 80%;
              height:70px ;
              margin: auto;
        }
        #rightdivsix,h6{
       font-size: 15px;
      padding-left: 20px;
       padding-top: 20px;
         color: blue;
        }
    
    #rightdivsix:hover{
        background-color: aliceblue;
    }
#rightdiv4{
    width: 90%;
    /* height:px; */
    border: 1px solid gray;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    align-items: center;
    background-color: gainsboro;
}
#rightdiv4>h2{
    padding-left: 20px;
    padding-top:10px 
}
#rightdiv4>div{
    border: 1px solid gray;
    width: 80%;
    height: 70px;
    margin: auto;
    margin-top: 30px;
}
#rightdiv4>div:nth-child(1),p{
  
}




     
